<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42016165025-eiuf7ir151b8c1k9fjro63hag7i58ogp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42016165025-eiuf7ir151b8c1k9fjro63hag7i58ogp</string>
	<key>API_KEY</key>
	<string>AIzaSyBePGVkYzXhXwLO3WISXl_-gEAbirnVPw8</string>
	<key>GCM_SENDER_ID</key>
	<string>42016165025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beesihachallenge</string>
	<key>PROJECT_ID</key>
	<string>beesiha-c6fbf</string>
	<key>STORAGE_BUCKET</key>
	<string>beesiha-c6fbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42016165025:ios:f0f10216c9fe4ecdaaf4e0</string>
</dict>
</plist>